
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.container{
    max-width: 1080px;
    margin: 0 auto;
}
// MARGINS
.my-5{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mx-5{
    margin-right: 50px;
    margin-left: 50px;
}

// PADDING
.p-5{
  padding:10px;
}
.px-5{
    padding:0px 10px;
}
.py-5{
    padding-top: 10px;
    padding-bottom: 10px;
}
// TEXT
.text-small{
    font-size: 14px;
}
.text-justify{
    text-align: justify;
}

// DISPLAY
.d-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.align-items-center{
  align-items: center;
}

.justify-content-between{
  justify-content: space-between;
}


.justify-content-end{
    justify-content:end;
}

.w-50{
    width: 50%;
}
.w-25{
  width: 25%;
}
// BORDERS
.border-bottom{
    border-bottom: 1px solid #E8E8E8;
}

// COLORS TEXT-COLORS
.text-white{
  color:white;
}

.light-green{
  color:#B1F283;
}

.text-blue{
  color:$darkblue;
}

.text-gray{
  color: gray;
}

.bg-whitesmoke{
    background-color: #F6F6F6;
}