@import 'fonts';
@import 'vars';
@import 'generics';
@import 'header';
@import 'main';
@import 'footer';
@import 'comics';

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.d-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.align-items-center{
  align-items: center;
}

.justify-content-between{
  justify-content: space-between;
}

.justify-content-end{
    justify-content:end;
}