* {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-5 {
  margin-right: 50px;
  margin-left: 50px;
}

.p-5 {
  padding: 10px;
}

.px-5 {
  padding: 0px 10px;
}

.py-5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-small {
  font-size: 14px;
}

.text-justify {
  text-align: justify;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.border-bottom {
  border-bottom: 1px solid #E8E8E8;
}

.text-white {
  color: white;
}

.light-green {
  color: #B1F283;
}

.text-blue {
  color: #003F5E;
}

.text-gray {
  color: gray;
}

.bg-whitesmoke {
  background-color: #F6F6F6;
}

header .upper-header {
  background-color: #0282F9;
}
header .upper-header ul li {
  list-style-type: none;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
header .upper-header ul li a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
header .bottom-header {
  padding: 20px 0px;
}
header .bottom-header ul li {
  padding: 0px 5px;
  color: white;
  list-style-type: none;
}
header .bottom-header ul li a {
  text-decoration: none;
  color: #1C1C1C;
  font-weight: bold;
}

main .jumbotron {
  height: 400px;
}
main .content {
  background-color: #1C1C1C;
}
main .merch {
  background-color: #0282F9;
  padding: 30px 0px;
}
main .merch ul {
  list-style-type: none;
}
main .merch ul li img {
  height: 50px;
  width: 50px;
}
main .merch ul li a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  padding: 0px 5px;
}

footer .upper-footer {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .upper-footer p {
  color: darkgray;
  font-size: 14px;
}
footer .upper-footer p a {
  color: #0282F9;
  text-decoration: none;
}
footer .upper-footer .footer-img {
  height: 400px;
}
footer .upper-footer div ul {
  padding: 10px 0px;
}
footer .upper-footer div ul li {
  list-style-type: none;
  color: gray;
  font-size: 14px;
  padding: 2px 10px;
}
footer .upper-footer div ul li h3 {
  color: white;
}
footer .bottom-footer {
  background-color: #303030;
  padding: 30px;
}
footer .bottom-footer div .btn-sign {
  color: white;
  border: 2px solid #0282F9;
  padding: 10px;
  font-weight: bold;
}
footer .bottom-footer ul .follow-us {
  font-weight: bold;
}
footer .bottom-footer ul li {
  list-style-type: none;
  color: #0282F9;
  padding: 10px 10px;
}

.content-container {
  background-color: #1C1C1C;
}
.content-container .floated {
  position: relative;
  height: 30px;
}
.content-container .floated span {
  position: absolute;
  bottom: 10px;
  background-color: #0282F9;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px 20px;
}
.content-container .cards-container .card {
  padding: 30px 0px;
  width: 16.6666666667%;
}
.content-container .cards-container .card img {
  padding: 10px 30px;
  height: 200px;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.content-container .cards-container .card span {
  padding: 0px 30px;
  color: white;
  font-size: 14px;
}

#comic .comic-details .text-dodgerblue {
  color: #0282F9;
}
#comic .comic-details .nav {
  border: 1px solid #E8E8E8;
  font-weight: bold;
}
#comic .comic-details .nav ul li {
  border-left: 1px solid #E8E8E8;
}
#comic .comic-details .nav ul li img {
  width: 50px;
  height: 70px;
  margin-right: 20px;
  filter: contrast(0);
}
#comic .comic-details .nav ul li a {
  text-decoration: none;
}
#comic .details {
  padding: 20px;
}
#comic .details .info {
  background-color: #55BA59;
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 10px;
}
#comic .details .info .border-left {
  padding-left: 10px;
  border-left: 1px solid black;
}